{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
	<div class="row">
		<h2>Single Stream</h2>
	</div>
	<div id="points-counter">0</div>


	<section class="row" id="tinderslide">
		<ul style="height:100%;">
			{{#each item}}
				{{> item this}}
			{{/each}}
		</ul>
	</section>
		
	<div class="row buttons">
			<input id="trash" data-keep_enabled="true" data-event="recycle:no" class="submit" type="submit" name="submit" value="trash">
			<input id="recycle" data-keep_enabled="true" data-event="recycle:yes" class="submit" type="submit" name="submit" value="recylce">
	</div>

</div> <!-- .container-fluid -->