{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid login">
	<div class="row welcome">
		<h3>Welcome!</h3>
		<p>Please login below. Your school should have sent you your profile information.</p>
	</div>
	<div class="row" id="login" style="display:none">
		<p>Email</p>
		<input type="text" id="email_input" tabindex="1"> <br />
		<p>Password</p>
	    <input type="text" id="password_input" tabindex="2"> <br />
	    <input id="btn_login" data-event="game:entry" data-package='{"email": "#email_input", "pass": "#password_input"}' class="btn btn-default game_login" type="submit" name="submit" value="play">

	    <div class="error" style="display:none">Error!</div>


	</div>

</div> <!-- .container-fluid -->