{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
	<div class="row">
		<h2>Single Stream</h2>
		<h3>Welcome!</h3>
	</div>
	<div class="row">
		<input class="hidden-el" type="text" id="email_input" placeholder="email" tabindex="1"> <br />
	    <input class="hidden-el" type="text" id="password_input" placeholder="password" tabindex="2"> <br />
	    <div class="error">Error!</div>
	    <input id="btn_login" data-event="game:entry" data-package='{"email": "#email_input", "pass": "#password_input"}' class="btn btn-default desktop-only game_login hidden-el" type="submit" name="submit" value="play">

	</div>

</div> <!-- .container-fluid -->