{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
	<h2>Welcome, {{player.name}}</h2>

	{{{jsonPrint player}}}

</div> <!-- .container-fluid -->