<div class="form" id="new-player-form">

	<input type="text" placeholder="player's first name" id="name-first">
	<input type="text" placeholder="player's last name" id="name-last">
	<input type="text" placeholder="player's email" id="new-email">
	<input type="text" placeholder="player's password" id="new-pass">

	<button class="btn" id="btn-create-player">Create</button>

	Or 

	<input id="csv-file" type="file">
	<button class="btn" id="btn-create-player-csv">Upload New Player CSV</button>
	
</div>

