<div class="form" id="new-player-form">

	{{!-- <input type="text" placeholder="player's first name" id="name-first">
	<input type="text" placeholder="player's last name" id="name-last">
	<input type="text" placeholder="player's email" id="new-email">
	<input type="text" placeholder="player's password" id="new-pass">

	<div class="row">
		<button class="btn" id="btn-create-player">Create</button>
	</div>

	Or  --}}

	<div class="row" id="inputs">
		<input id="files" type="file" name="files[]" multiple>
		{{!-- <button class="btn" id="btn-create-player-csv">Upload New Player CSV</button> --}}
	</div>

	<ul id="contents"></ul>


	
</div>

