<div class="alert-inner">
	<div class='msg'></div>

	<img style='display:none;' src="https://res.cloudinary.com/esalling/image/upload/v1495592382/RecycleMe/Config/points-counter.png">

	<button class="maximal bottom half left" style="display:none;" id="alert-abort">No</button>
	<button class="maximal bottom half right" style="display:none;" id="alert-confirm">Yes</button>

	<button class="maximal bottom full" style="display:none;" id="alert-continue">Okay</button>

</div>