<div class="modal-wrap match" style="display:none;" id="{{item_key}}">
	<div class="modal-inner match">

		Your grade for this level: 

		<img src="{{{cloudinaryUrl image width=200 height=200 quality=80}}}" />
		{{!-- {{{info.html}}} --}}

		

		<input id="back-btn" data-keep_enabled="true" class="submit" type="submit" name="submit" value="continue">


	</div>
</div>
