<div class="modal-wrap match end">
	<div class="modal-inner match end">

		<p>You got {{score}}! Check out where you stand on the leaderboard by going back to the menu, or replay to get a higher score!</p>

		<button class="minimal btn replay" id="replay-btn">replay</button>

		<button onclick="location.reload()" id="back-btn" class="submit minimal btn">back to menu</button>

	</div>
</div>
