<div class="modal-wrap material-profile">
	<div class="modal-inner material-profile">

		{{{cloudinaryUrl this.image.url width='60%'}}}
	
		{{{this.info.html}}}

		<div class="button-group">
			<input id="back-btn" data-keep_enabled="true" class="submit" type="submit" name="submit" value="continue">
		</div>

	</div>
</div>
