<div class="modal-wrap material-profile">
	<div class="modal-inner material-profile">

		{{this.name}}

		{{{cloudinaryUrl this.image.url width='60%'}}}
	
		{{{this.info.html}}}

		<div class="button-group">
			<input id="back-btn" data-keep_enabled="true" class="minimal submit" type="submit" name="submit" value="back">
		</div>

	</div>
</div>
