{{!-- {{{jsonPrint this}}} --}}
<div class="text">
	<h3>Get ready to play! You will have {{config.speed}} seconds to decide what to do with each item!</h1>

	<p>If you don't sort an item in time or correctly, it will cost you a point and a life.</p>
	<p>You start with three lives.</p>
</div>

<h3 id="ready-timer-text" class="timer" style="display:none;"></h3>
<button class="btn minimal" id="skip">skip</button>