<div class="modal-wrap match end">
	<div class="modal-inner match end">

		<h3>You got {{score}} points! </h3>
		<p>Check out where you stand on the leaderboard by going back to the menu, or replay to get a higher score!</p>

		<div class="button-group">

			<button class="minimal btn replay" id="replay-btn">replay</button>

			<button onclick="location.reload()" id="back-btn" class="submit minimal btn">back to menu</button>

		</div>

		<div class="match-list">

			<div class="match-scroll">

			{{#each matchList}}

				<div class="match-inner {{match}}">
					<img src="{{{cloudinaryUrl profiles.[0] width=80 height=80 quality=80}}}" />
					{{{rationale.html}}}
				</div>

			{{/each}}

			</div>

		</div>

	</div>
</div>
