// SAMPLE PALETTE
$color-peach: #ff9971;
$color-dark-orange: #ff5e41;
$color-gray-orange: #674B47;
$color-light-orange: #ffb71d;
$color-light-blue: #2bd3ee;
$color-light-orange: #ffb71d;
$color-light-green: #13e695;
$color-neon-green: #C8E646;
$color-light-red: #ab3724;
$color-dark-purple: #6768FE;
$color-bright-yellow: #FFD255;
$color-orange: #FD6D59;
$color-red: #fe6444;
$color-blue: #4343ff;
$color-salmon: #ff7f7d;
$color-violet: #7c90ff;
$color-teal: #36d5d9;
$color-yellow: #fbd738;
$color-green: #00CB86;

// Tinder Pallette
$tinder-red: #ff6a6a;
$tinder-creme: #fffcf6;
$tinder-white: #fff;
$tinder-black: #343434;
$tinder-grey: #CECAC1;
$tinder-grey-dark: #565151;
$tinder-grey-light: #9EABB3;

$tinder-gradient: linear-gradient(216deg, #ff8a40, #fd5068, #dc4588);

// Game Variables
$tinder-height: 400px;
$tinder-width: 350px;