@import "core/variables";
@import "core/mixins";
@import "core/functions";

@include font-face(Font-Name, 'https://path/to/cdn/font', null, null, eot woff ttf);

// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

// Body
.body {
  background-color: #000;
  color: #fff;
  font-family: "HalisLight";
}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
.buffer {
		margin-top: 5%;	
}

.main {

}

.home {

	#title {

	}

}