@import "core/variables";
@import "core/mixins";
@import "core/functions";

// @include font-face(Font-Name, 'https://path/to/cdn/font', null, null, eot woff ttf);

// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

body, html {
	max-height: 100%;
	height:100%;
	overflow: hidden;
}

.col-xs-4 {
	@media(max-width: 400px) {
		padding: 0px;
	}
}


// Body
.body {
  background-color: $tinder-white;
  color: $tinder-black;

  font-family: Nunito;
}

#wrapper {
	height:100%;
	right: 0;
	left: 0;
}

.page-wrapper, .container-fluid, ul{
	height: 100%;
	text-align: center;
}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
.buffer {
		margin-top: 5%;	
}

.hide {
	display: none;
}

.row {
	margin: 0px;
}
.modal {
	height:110%;
	z-index: 10000;
}
.page-wrapper {
	margin: 0 auto;

}
.page-wrapper, .game:not(.nav), .modal-group, .modal-wrap, .modal{
	height: 100%;
	width: 100%;
	max-width: $tinder-width;
	position: fixed;
	overflow: hidden;
}

.game.nav {
    height: 0px;
    position: absolute;
    width: 100%;
    top: 60px;
}

.section, .subsection {
	display: none;
	position: absolute;
	margin-top:20px;
	width: 100%;
    max-width: 450px;
    padding: 0px 10px;

	 &.ACTIVE {
	 	display: block;
	 }

	 .section, .subsection {
	 	position: relative;
	 }
}


// BUTTONS

button.back {
	position:absolute;
	top: -55px;
	color: $tinder-red;
	border: 0px;
	background: transparent;
	box-shadow: none;

	&.left {
		left: 20px;
	}

	&.right {
		right: 20px;
	}

}

button.nav-bar {
	color: $tinder-grey;
	border: 0px;
	background: transparent;
	box-shadow: none;
	position:absolute;
	top: -55px;
	&[data-direction="left"] {
		left: 20px;
		text-align: left;
	}
	&[data-direction="right"] {
		text-align: right;
		right: 20px;
	}
	&.left-mid {
		left: 100px;
		text-align: left;
	}
	&.right-mid {
		text-align: right;
		right: 100px;
	}

	&.lower {
		top: -25px;
	}

	&[data-section="home"] {
		border: 3px solid $tinder-black;
		border-radius: 5px;
	    height: 25px;
	    width: 25px;
	}

	&[data-section="profile"] {
		background-image: url('/images/profile-icon.png');
	    background-size: contain;
	    background-repeat: no-repeat;
	    height: 25px;
	    width: 25px;
	}

	&[data-section="levels"] {
		background-image: url('/images/play-icon.svg');
	    background-size: contain;
	    background-repeat: no-repeat;
	    height: 25px;
	    width: 25px;
	}
}

.tinder-btn {
	background: $tinder-gradient;
	color: white;
}


.minimal {
	border: 2px solid $tinder-red;
	border-radius: 2%;
	display: inline;
	padding: 0px 4px;
	margin: 0px 4px 0px 0px;
	color: $tinder-red;
	background-color: transparent;

	@include transition(all, 0.5s);

}

button, .btn, input {
	&:not(:disabled){
		&:focus, &:active { 
			-webkit-box-shadow: none !important;
			box-shadow:none !important;
			outline: 0px !important;
		}
		&.minimal {
			&:hover, &:focus {
				background-color: white;
				color: darken($tinder-red, 30%);
				border: 2px solid darken($tinder-red, 30%);
			}
		}
	}

	&:disabled {
		color: lighten($tinder-red, 20%);
		border: 2px solid lighten($tinder-red, 20%);
	}
}

.maximal {
	border: 0px;
	display: inline;
	padding: 8px;
	color: white;
	background-color: $tinder-red;

	@include transition(all, 0.5s);

	&:hover, &:focus {
		background-color: white;
		color: $tinder-red;
	}
}

.left-slant {
	transform: rotate(-35deg);
}

// NAVIGATION

.app-header {
	border-bottom: 0.5px solid $tinder-grey;
	margin: 4px auto;

	h2 {
		font-size: 24px;
		color: $tinder-red;
		margin-top:0px;
		margin-bottom: 4px;
	}


}


.header * {
	display: inline;
}


.modal-inner {
	background: white;
	border: 3px black solid;;
	width: 100%;
	height: 100%;

}

.modal {
	position: absolute;
	left: auto;
	right: auto; 
	height:100%;
	width:100%;
}

// Get Ready (Speed Round)
#ready-timer {
	background: $tinder-black;
	color: $tinder-white;
	z-index: 500000;
	display: none;
	height:100%;
	width:100%;

	.text {
		padding: 10px;
		* {
			margin-top: 20px;
		}
	}

	.timer {
		height: 120px;
		width: 80px;
		line-height: 120px;
		margin: 10px auto;
		font-size: 46px;
	}

	#skip {
		position: absolute;
		bottom: 20px;
		left: calc(50% - 50px);
		width: 100px;
	}
}


// Login
.welcome p {
	width: 60%;
	margin: 0 auto;
}

#login {
	padding: 8px;
	margin: 16px auto;
	border: 1px $tinder-black solid;
	width: 240px;
	
	p {
		margin: 0px;
		text-align: left;
	}
	input {
		width: 100%;
		margin-bottom: 10px;
		&.btn {
			&:hover, &:focus {
				color: $tinder-white;
				background-color: $tinder-red;
				transition: all .2s ease-in-out;
			}
		}
	}
}

// MODALS

.modal-wrap {

	position: fixed;
	top: 0px;
	z-index: 10000;
}

.modal-group {
	display: none;
	position: absolute;
	top: -110px;
}

.row.special-options {
	margin-bottom: 60px;
}

.special {
	color: white;
	margin: 0 auto;
	margin-top: 0px;
	background: rgba(black, .9);
	.option {
		background-color: lighten(black, 30%);
		height: 180px;
		width: 140px;
		margin: 10px auto;
		display: inline-block;
		padding: 5px;

		h3 {
			font-size: 20px;
		}

		img {
			height: 80px;
			width: 80px;
		}
		&.selected {
			border: 1px white solid;
		}
		&.open {
			margin: 0px auto;
			padding: 20px;
			height: 100%;
			width: 300px;

			img {
				height: 180px;
				width: 180px;
			}

		}
	}
}
.modal.alert {
	z-index: 1000000;
}
.modal.material-profile, .modal.match {
	color: white;
	background-color: rgba($tinder-black, 0.9);
}
.modal-inner.material-profile {
	height: 400px;
	width: 80%;
	margin: 30% auto;
	border: 10px solid $tinder-white;
	border-radius: 3px;
	color: $tinder-black;

	img {
		margin: 16px;
		border-radius: 50%;
		box-shadow: 2px $tinder-grey;
		border: 2px white solid;
	}

	
}

// Rules

#rules-glide {
	height: 80%;
	border: 2px solid $tinder-black;

	.rule-image {
		width: 70%;
		margin: 0 auto;
	}

	p {
		margin: 20px auto;
		width: 70%;
		font-size: 16px;
	}

	.glide__bullets {
		bottom: 20px;
	}
	.glide__bullet {
		background-color: lighten($tinder-black, 30%);

		&.active {
			background-color: $tinder-black;

			&:hover, &:focus {
				border:2px solid transparent;
			}
		}
	}
	.glide__track {
		margin-bottom: 40px;
		padding: 0px;
	}
	.glide__arrows {
		.glide__arrow {
			background-color: $tinder-red;
			color: $tinder-white;
			border: 0px;
			transition: all .1s ease-in-out;
			&:not(.disabled) {
				&:hover, &:focus {
					background-color: $tinder-red;
					color: $tinder-white;
					border: 0px;
					transform-origin: 0 0;
					transition: all .1s ease-in-out;
					-webkit-transform: scale(1.2) translateY(-50%);
	    			-ms-transform: scale(1.2) translateY(-50%);
	  				transform: scale(1.2) translateY(-50%);
				}
			}
		}

	}
}


// Game front end

section.tinderslide {

	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	background: #fff;
	height: 100%;
		
	ul:not(.glide__track) {
		height: 100%;
		width: 100%;
		margin: 0;
		position: relative;
		display: block;
		height: 100%;
		padding: 0px;
		width: $tinder-width;
		max-width: 100%;

	}

	li:not(.glide__slide) {
		position:absolute;
		display: block;
		width: 90%;
		height: 100%;
		overflow: hidden;
		top: 0;
		z-index: 2;
		left: 5%;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		overflow: hidden;
		text-align: center;
		padding: 10px 10px 10px 10px;
		background: #eee;
		font-size: 24px;
		color: #000;
		border: 1px solid #fff;
		border: 1px solid #dfdfdf;
		border: 1px solid rgba(96, 96, 96, 0.2);
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;

		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;

		h2 {
			text-align: left;
			position: relative;
		}

	}	

	.item {
		padding: 0px;
		border: 0px;
		height: calc(100% - 200px);
		background-position: center;
		max-width: $tinder-width;
		text-align: left;
		color: $tinder-white;

		@include transition(all, 0.5s);

		.btn-close {
			z-index: 10000;
			margin: 8px;
		    position: absolute;
		    top: 0px;
		    left: 0px;
		}
		.item-info {
			padding: 8px;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			color: $tinder-white;
			text-align: left;
			background-color: transparentize(black, .4);
		}
		.material {
			font-size: 18px;
		}
		h2{
			font-size: 24px;
		}
		p {
			font-size: 18px;
		}

		 &.open {
		 	max-width: 100%;
		 	width:100%;
		 	height: calc(100% - 120px) !important;
		 	max-height: 100%;
		 	left: 0px;
		 	top: -80px;
		 	z-index: 2500;

		 }

		 .image-glider {
		 	height: 100%;
		 	position: absolute;

		 	.glide__wrapper {
		 		height: 100%;
		 		position: relative;
		 	}
		 	.glide__slide {
		 		left: 0;
		 		width: 100%;
		 		height: 100%;
		 	}

		 }
		 .glide__arrows {
	 	    position: absolute;
		    z-index: 2;
		    bottom: 50%;
		    width: 100%;

		    .next {
		    	position: absolute;
		    	right: 0px;
		    }

		    .prev {
		    	position: absolute;
		    	left: 0px;
		    }
		 }

		 &.gone {

		 	right: 5%;
		 	left: 5%;
		 	top: 0;
		 	bottom: auto;
		 	opacity: 1;

		 	@include transition(all, 1s);

		 	&.trashed {
		 		left: -1000px;
		 		right: auto;
		 	}

		 	&.recycled {
		 		right: -1000px;
		 		left: 1000px;
		 	}

		 	&.composted {
		 		top: -1000px;
		 	}

		 	&.specialPick {
		 		bottom: -1000px;
		 		top: 1000px;
		 	}

		 	// Speed Level
		 	&.loss {
		 		display:none;
		 	}
		 }
	}

}

.end {

	button {
		height: 40px;
		width: 100px;
		font-size: 16px;
		margin: 8px auto;
	}
	#back-btn {
	    bottom: 20px;
	    position: absolute;
	    left: calc(50% - 100px);
	    width: 200px;
	    height: 40px;
	    font-size: 24px;
	    margin: 0 auto;
	}

	&.match {

		button {
			height: 30px;
			line-height: 26px;
		}

		#back-btn {
			bottom: 10px;
		}

		.match-list {
			visibility: hidden;
			height: calc(100% - 320px);
			overflow: hidden;
			margin: 20px auto;
			border: 1px solid $tinder-white;

			.match-scroll {
				height: calc(100% - 12px);
				padding: 0px 4px;
				overflow-y: scroll;
				overflow-x: hidden;

				.match-inner {
					background-color: $tinder-red;
					height: 80px;
					width: 100%;
					display: table;
					margin: 5px auto;
					padding: 4px 8px;

					* {
						display: table-cell;
						vertical-align: middle;
					}

					img {
						height: 60px;
						width: 60px;
						margin: 5px; 
					}

					p {
						line-height: 1;
					}

				}
			}
		}

		h3 { 
			font-size: 3em;
		}

		p {
			font-size: 1em;
			margin-top: 10px;
		}
	}

}

.alert {
	z-index: 3000;

	top: -40px;
	height:110%;
	width:100%;
	background-color: rgba($tinder-black, 0.9);

	.image {
		display: none;
		padding: 8px;
		position: absolute;
		background-color: white;
		height: calc(100% - 70px);

		img {
			height: 60%;
			max-height: 160px;
		}
	}
}

.alert-inner {
	top:20%;
	background-color:white;
	width: 250px;
	height: 300px;
	border-radius: 10%;
	overflow: hidden;
    margin: 40px auto;
   	position: absolute;
    left: 0;
    right: 0;


    .msg {
    	padding: 8px;
    	line-height: 1;

    	h2 {
    		margin-top: 20%;
    	}

    	h3 {
    		margin: 10px auto;
    	}

    	p {
    		font-size: 12px;
    		line-height: 1;
    	}
    }

    p {
    	line-height: 1;
    }


    img.img {
    	width: 80%;
    	position: relative;
    	height: auto;
    }


	button {
		display: block;
		margin: 0px;
		position: absolute;
		bottom: 0px;

		&.half {
			width: 50%;
		}

		&.full {
			width: 100%;

		}

		&.left {
			margin-left: -1px;
		    left: 0px;
		}

		&.right {
			margin-right: -1px;
		    right: 0px;
		}


	}
}

.match {
	width:100%;
	color: white;
	background-color: rgba($tinder-black, 0.9);
	h3 {
		font-size: 4em;
		font-family: 'Calligraffitti', cursive;
	}


	img {
		margin: 16px;
		border-radius: 50%;
		box-shadow: 2px $tinder-grey;
		border: 2px white solid;
	}

	p {
		margin: 16px;
		font-size: 1.5em;
		line-height: 1;
	}

	input {
		background: #3c3c3c;
		border: 1px white solid;
		border-radius:4px;
		position: absolute;
	    bottom: 20px;
	    left: calc(50% - 50px);
	    width: 100px;
	    margin: 0 auto;
	}
}

.level.header {
	margin-top: -20px;
	height: 100px;
}

.game-level {
	height: 100%;
	
}

#points-counter {
  font-size: 36px;
  height: 80px;
  background: $tinder-red;
  color: $tinder-white;
  position: absolute;
  width: 50%;
  margin: 0px auto;
  margin-top: 20px;
  border: 0px;
  left: 25%;

	#points-tag {
	    font-size: 18px;
	    display: block;
	    height: 24px;
	    line-height: 32px;
  	}

  	#points-text {
	    display: block;
	    height: 42px;
	    line-height: 1.5;
  	}

}

.lives-wrap {
	height: auto;
    width: 10%;
    position: absolute;
    right: 40px;
    top: 10px;
	.life {
		background-image: url('/images/like.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	    height: 20px;
	    position: relative;
	    display: block;
	    width: 40px;

		@include transition(all, 0.5s);

		&.loss {
			filter: grayscale(100%);
		}
	}
}

.timer-wrap {
	color: $tinder-red;
	height: 80px;
	width: 40px;
	display: inline-block;
	float: left;
	margin-top: 20px;
	margin-left: 10%;

	#time {
		line-height: 80px;
		font-size: 42px;
	}
}

.buttons {
	max-width:$tinder-width;

	position: absolute;
	bottom: 0px;
	z-index: 2000;
	width: 100%;
	text-align: center;

	input {
		bottom: -15px;
		background-color: white;
		border-radius:50%;
		border: 2px solid $tinder-black;
		&:before {
			content: '';
		    background-color: white;
		}
		&.large {
			height:60px;
			width:60px;
		}
		&.small {
			height:40px;
			width:40px;
		}
		&#recycle {
			color: green;
			background-image: url('/images/like.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&#trash {
			color: brown;
			background-image: url('/images/nope.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		&#compost {

			color: blue;
			background-image: url('/images/super.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		&#special {

			color: blue;
			background-image: url('/images/special.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

// PROFILE
.section.profile {

	h3 {
		text-align: center;
		margin: 40px auto;

		@media(max-width: 400px) {
			margin: 0px auto;
		}

	}

	.update-info {
		.row {
			margin: 10px 0px;
		}

		p {
		}

		.input {
			border: 1px solid black;
		}
	}


	.edit {
		margin-top: 40px;
		padding-bottom: 80px;
		border-top: 2px solid lighten($tinder-black, 30%);

		#team {
			border: 1px solid $tinder-black;
		}

		#username {
			border: 1px solid $tinder-black;
		}

		img {
			height: 150px;
			width: 150px;

		}

		#btn-save-profile {
			width: 80px;
			position: relative;
			bottom: -40px;
			
		}

		.cloudinary-thumbnails {
			display: none;
		}

		.cloudinary-button {
			width: 150px;
			border: 2px solid $tinder-red;
			border-radius: 2%;
			display: inline;
		    padding: 4px 8px;
			color: $tinder-red;
			background-color: $tinder-white;
			background: $tinder-white !important;

			@include transition(all, 0.5s);

			&:focus, &:active { 
				-webkit-box-shadow: none !important;
				box-shadow:none !important;
				outline: 0px !important;
				background-color: white;
				color: darken($tinder-red, 30%);
				border: 2px solid darken($tinder-red, 30%);
			}
		}

		.image_upload {
			margin: 10px;
		}

		.save-msg {
		    position: relative;
		    bottom: 0px;
		    text-align: center;
		    width: 50%;
		    margin: 0px 25%;
		}
	}

	.col-sm-4 {
		margin: 20px auto;

	}

	.col-xs-6 {
		padding: 0px;
	}

	.grade {
		border: 3px solid $tinder-white;
		border-radius: 50%;
		height: 100px;
		width: 100px;
		color: $tinder-white;
		background-color: $tinder-red;
		display: inline-block;
		div {
			font-size: 36px;
		    padding-top: 12px;
		    display: block;
		    line-height: 1;
		}

		button {
			padding:0px;
		    font-size: 18px;
		    font-weight: bolder;
			background-color: transparent;
			color: $tinder-white;
			border: 0px;
			box-shadow: none;
		    word-break: break-word;
		    word-wrap: break-word;
		    white-space: pre-wrap;

			&.replay {
				font-size: 14px;
			}

			&.grade-empty {
				padding-top: 20px;
				font-size: 14px;
			}

			&.play {
				padding-top: 24px;
				font-size: 18px;
			}
		}

	}

}

.level-group {
	.minimal {
		width: 60%;
		height: 80px;
		font-size: 18px;
		margin: 12px auto;
		&.complete {
			height: 50px;
			width: 40%;

			&:nth-child(4) {
				margin-bottom: 40px;
			}
		}
	}

}

.section.leaderboard {

	#coming-soon {
    height: 80px;
    line-height: 64px;
    background: $tinder-red;
    color: white;
    margin-top: 120px;
    padding: 8px;

	}

	.leader-nav {
		.btn {
			color: $tinder-grey;
			background: white;
			box-shadow: none;
		    border: 1px solid $tinder-grey;
		    border-bottom: 0px;
		    border-radius: 0px;
		    width: 100px;

			&.active {
				color: $tinder-black;
				border-color: $tinder-black;
			}
		}
	}

	.board {
		height: 200px;
		overflow: hidden;
		border: 1px solid $tinder-black;
		width: calc(100% - 40px);
		margin: 0px 20px;
		padding: 10px;
		ul {
			padding: 0px;
			text-align: left;
		    width: 250px;
		    max-width: 100%;
		    margin: 0 auto;
		    height: 100%;
		    overflow: scroll;
		}
		li {
			list-style-type: none;
			* {
				display: inline-block;
			}

			div {
				text-align: center;
			}
		}
	}

	::-webkit-scrollbar {
	  -webkit-appearance: none;
	  width: 7px;
	}
	::-webkit-scrollbar-thumb {
	  border-radius: 4px;
	  background-color: rgba(0, 0, 0, .5);
	  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
	}

	.points {
		border: 2px solid $tinder-white;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		line-height: 40px;
		color: $tinder-white;
		background-color: $tinder-red;
	}
}



// Media Breakpoints

@media(max-height: 480px) {

	.level-group .minimal {
		margin: 6px;
	}

	.section.leaderboard .board {
		height:150px;
	}

	.section, .subsection {
		margin-top: 8px;

		button.nav-bar {
		    top: -42px;
		}
	}

	.end.match {

		.matchList {
			height: calc(100% - 260px);
		}
	}

	.section.profile .edit {
		p {
			line-height: 1;
			font-size: 10px;
		}

		#btn-save-profile {
			bottom: 0px !important;
		}
	}

	.match {
		h3 {
			margin-top: 16px;
			font-size: 3em;
		}
		img {
			height: 100px;
		}
		p {
			margin: 0px 16px;
			line-height: 1;
			font-size: 1.2em;
		}
	}

}

@media(max-height: 680px) {

	h1, h2, h3, h4 {
		margin: 4px;
	}

	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 22px;
	}

	.section.profile .edit {

		p {
			line-height: 1.2;
		}

		#btn-save-profile {
			bottom: -20px;
		}

		.cloudinary-button {
			font-size: 12px;
			padding: 4px;
		}
		.image_upload {
			margin: 4px;
		}

		.profile-picture {
			height: 100px;
			width: 100px;
			margin-top: 20px;
		}
	}

	.match {
		h3 {
			margin-top: 16px;
		}
		p {
			margin: 0px 16px;
			line-height: 1;
			font-size: 1.2em;
		}
	}
}

	
	
@media(max-width: 426px) {

	.timer-wrap {
		margin-left: 5%;
	}
}