@import "core/variables";
@import "core/mixins";
@import "core/functions";

// @include font-face(Font-Name, 'https://path/to/cdn/font', null, null, eot woff ttf);

// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

body, html {
	max-height: 100%;
	height:100%;
	overflow: hidden;
}

// Body
.body {
  background-color: $tinder-white;
  color: $tinder-black;

  font-family: Nunito;
}

#wrapper {
	height:100%;
	right: 0;
	left: 0;
}

.page-wrapper, .container-fluid, ul{
	height: 100%;
	text-align: center;
}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
.buffer {
		margin-top: 5%;	
}

.hide {
	display: none;
}





.page-wrapper {
	margin: 0 auto;

}
.page-wrapper, .game, .modal-group, .modal-wrap, .modal{
	height: 100%;
	width: 100%;
	max-width: $tinder-width;
}

.section, .subsection {
	display: none;
	position: absolute;
	margin-top:20px;
	width: 100%;
    max-width: 450px;

	 &.ACTIVE {
	 	display: block;
	 }
}

// BUTTONS

button.back {
	position:absolute;
	top: -55px;
	color: $tinder-red;
	border: 0px;
	background: transparent;
	box-shadow: none;

	&.left {
		left: 20px;
	}

	&.right {
		right: 20px;
	}

}

button.nav-bar {
	color: $tinder-grey;
	border: 0px;
	background: transparent;
	box-shadow: none;
	position:absolute;
	top: -55px;
	&.left {
		left: 20px;
		text-align: left;
	}
	&.right {
		text-align: right;
		right: 20px;
	}
	&.left-mid {
		left: 100px;
		text-align: left;
	}
	&.right-mid {
		text-align: right;
		right: 100px;
	}

	&.lower {
		top: -25px;
	}
}

.tinder-btn {
	background: $tinder-gradient;
	color: white;
}


.minimal {
	border: 2px solid $tinder-red;
	border-radius: 2%;
	display: inline;
	padding: 0px 4px;
	margin: 4px;
	color: $tinder-red;
	background-color: transparent;
}

.left-slant {
	transform: rotate(-35deg);
}

// NAVIGATION

.app-header {
	border-bottom: 0.5px solid $tinder-grey;
	margin: 4px auto;

	h2 {
		font-size: 24px;
		color: $tinder-red;
		margin-top:0px;
		margin-bottom: 4px;
	}


}


.header * {
	display: inline;
}


.modal-inner {
	background: white;
	border: 3px black solid;;
	width: 100%;
	height: 100%;

}

.modal {
	position: absolute;
	left: auto;
	right: auto; 
}

// MODALS

.modal-wrap {

	position: fixed;
	top: 0px;
	z-index: 10000;
}

.modal-group {
	display: none;
	position: absolute;
	top: -115px;
}

.special {
	color: white;
	margin: 0 auto;
	background: rgba(black, .8);
	.option {
		background-color: lighten(black, 30%);
		height: 180px;
		width: 140px;
		margin: 10px auto;
		display: inline-block;
		&.selected {
			border: 1px white solid;

		}
	}
}


// Game front end

section.tinderslide {

	// width: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	background: #fff;
	height: 100%;
		
	ul {
		height: 100%;
		width: 100%;
		margin: 0;
		position: relative;
		display: block;
		height: 100%;
		padding: 0px;
		width: $tinder-width;

	}

	li {
		width: 100%;
		position:absolute;
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		top: 0;
		z-index: 2;
		/*left: 0;*/
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
		overflow: hidden;
		text-align: center;
		padding: 10px 10px 10px 10px;
		background: #eee;
		font-size: 24px;
		color: #000;
		border: 1px solid #fff;
		border: 1px solid #dfdfdf;
		border: 1px solid rgba(96, 96, 96, 0.2);
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;

		background-repeat: no-repeat;
		background-size: cover;

		h2 {
			text-align: left;
			position: relative;
		}

	}


	

	.item {
		padding: 0px;
		border: 0px;
		height: calc(100% - 200px);
		max-width: $tinder-width;
		text-align: left;
		color: $tinder-white;

		.btn-close {
			z-index: 10000;
		}
		.item-info {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: transparentize(black, 0.7);
		}
		.material {
			font-size: 12px;
		}
		h2{
			font-size: 20px;
		}
		p {
			font-size: 12px;
		}
	}

}

.match {
	width:100%;
	color: white;
	background-color: rgba($tinder-black, 0.9);
	h3 {
		font-size: 4em;
	}

	img {
		border-radius: 5%;
		box-shadow: 2px $tinder-grey;
	}


	input {
		background: #3c3c3c;
		border: 1px white solid;
		border-radius:4px;
	}
}

#points-counter {
	font-size: 36px;
}

.buttons {
	max-width:$tinder-width;

	position: absolute;
	bottom: 60px;
	z-index: 2000;
	width: 100%;
	text-align: center;

	input {
		background-color: white;
		border-radius:50%;
		&:before {
			content: '';
		    background-color: white;
		}
		&.large {
			height:60px;
			width:60px;
		}
		&.small {
			height:40px;
			width:40px;
		}
		&#recycle {
			color: green;
			background-image: url('/images/like.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		&#trash {
			color: brown;
			background-image: url('/images/nope.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		&#compost {

			color: blue;
			background-image: url('/images/super.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		&#special {

			color: blue;
			background-image: url('/images/special.png');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

// PROFILE
.section.profile {

	.edit {
		margin-top: 16px;
	}

	.grade {
		border: 3px solid $tinder-white;
		border-radius: 50%;
		height: 100px;
		width: 100px;
		color: $tinder-white;
		background-color: $tinder-red;
		display: inline-block;
		div {
			font-size: 36px;
		    padding-top: 16px;
		    display: block;
		    line-height: 1;
		}

		button {
			padding:0px;
		    font-size: 18px;
		    font-weight: bolder;
		    padding-top: 24px;
			background-color: transparent;
			color: $tinder-white;
			border: 0px;
			box-shadow: none;
		}

	}

}

.section.leaderboard {

	.leader-nav {
		.btn {
			color: $tinder-grey;
			border: 0px;
			background: transparent;
			box-shadow: none;

			&.active {
				color: $tinder-black;
			}
		}
	}

	.board {
		// width: 
		ul {
			padding: 0px;
			text-align: left;
		    width: 250px;
		    margin: 0 auto;
		}
		li {
			list-style-type: none;
			* {
				display: inline-block;
			}

			div {
				text-align: center;
			}
		}


	}

	.points {
		border: 2px solid $tinder-white;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		line-height: 40px;
		color: $tinder-white;
		background-color: $tinder-red;
	}
}